html, body {
    max-width: 100%;
    font-family: 'Montserrat', sans-serif !important;
}


.container2 {  
   margin: 20px;
   background-color: #98C1D9;
   padding: 10px;
   margin: 10px;
   text-align: center;
   box-shadow: 10px 6px 5px rgba(0,0,0,.15);
}

.btn {
    box-shadow: 5px 5px 5px rgba(0,0,0,.15);
}


.btn-success {
  margin-left: 0cm;
  margin-right: 5%;
}

#btnload {
  margin-right: auto;
}


input {
    text-align: center;
    max-width: 20%;
}


@media (max-width:767px){
    .divider {
          height: 1px;
          margin: 2px 0px;
          overflow: hidden;
          background-color: #e5e5e5;
      }
  }

  ul {
      padding-left: 8pt;
  }


.container3 {
   background-color: #f7f1f1;
   margin: 0%;
   
}

#container4 {
    background-image: linear-gradient(-90deg, #016FB9,#BFDBF7);
    padding-top: 10px;
    padding-bottom: 3px;
    margin-left: 50px;
    margin-right: 50px;
}

#container5 {
  background-image: linear-gradient(-90deg, #016FB9,#BFDBF7);
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.containertop {
 position: sticky;
 position: -webkit-sticky;
 top: 60px;
 padding-top: 10px;
 padding-bottom: 5px;
 padding-left: none;
 background-color: #BFDBF7;

}


table {
  text-align: top;
}

.container5 {
    background-image: linear-gradient(-90deg, #016FB9,#BFDBF7);
    margin: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 10px 6px 5px rgba(0,0,0,.15);
}



.fade-in-1 {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
  }

  .fade-in-2 {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }

  .fade-in-3 {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }

  .fade-in-4 {
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
  }

  .fade-in-5 {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }



  img {
    width: 75%;
    height: auto;
  }


  @media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 56px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 85%;
        height: 95%;
        background-color:#98C1D9;
        
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}


li{
  margin: 10px 0;
}

hr {
  border: none;
  height: 1px;
  background-color: #0A0708;
}

/* #hide {
  display: none;
} */

#pw {
  text-align: center;
}


.form-control{
  width: auto;
  text-align: center;
}

#strength {
  display: block;
  margin: 0 auto;
}